* {
    box-sizing: border-box;
}
body{
    background-image: url("../images/stripes-light.png");
    padding: 0;
    margin: 0;
}

/* Header */

header{
    background: #ffffff;
    padding: 25px 0;
    width: 100%;
    border-bottom: 2px solid #cccccc;
}
h1{
    background: #4aaaa5;
    color: white;
    padding: 25px;
    margin: 0;
    display: inline;
    margin-left: 160px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}
li{
    float: right;
}
li a{
    margin-top: 10px;
    padding: 0px 15px 0px 15px;
    text-decoration: none;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.borders{
    border-right: 1px solid #dddddd;
}
#centered{
    margin-right: 160px;
}

/* Section General */

section{
    background: #ffffff;
    width: 960px;
    margin-top: 30px;
    margin-left: 160px;
    padding-top: 5px;
    padding-bottom: 20px;
    border: 2px solid #dddddd;
}
h2{
    margin: 0 20px 20px 20px;
    padding: 25px 0;
    border-bottom: 3px solid #dddddd;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

/* Section About Me */

p {
    margin: 0 20px;
    line-height: 200%;
    overflow: auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}
.headshot{
    float: left;
    margin: 0px 20px 20px 0px;
}

/* Section Contact */

form{
    margin: 0 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}
input{
    margin: 5px 0 15px 0;
}
.inputWidth{
    width: 100%;
}
#message{
    /* height: 150px; */
    padding: 0 0 150px 0;
}
#submit{
    margin: 0;
    padding: 5px 15px;
    background: #4aaaa5;
    color: #ffffff;
}

/* Section Portfolio */

.picture{
    padding: 50px;
    background: red;
    margin-bottom: 40px;
}

/* Footer */

footer{
    background: #666666;
    padding: 30px;
    border-top: 5px solid #4aaaa5;
    margin-top: 10px;
}