* {
    box-sizing: border-box;
}
body{
    background-image: url("../images/stripes-light.png");
    padding: 0;
    margin: 0;
}
header{
    background: #ffffff;
    padding: 25px;
    /* position: absolute; */
    /* margin: 0px; */
    top: 0px;
    width: 100%;
    /* overflow: auto; */
}
header h1{
    /* margin-top: 0px; */
    /* margin-bottom: 0px; */
    background: #4aaaa5;
    color: white;
    display: inline;
    padding: 25px;
    /* margin-left: 16.6%; */
    margin-left: 219px;
}
/* header.blueBack{
    background: #4aaaa5;
} */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    /* margin-right: 16.6%; */
    margin-right: 219px;
}
li{
    float: left;
    /* display: inline; */
    padding: 10px;

}
.blueBack{

}
.whiteLetters{
    
}
.backgroundPattern{

}
.blueLetters{
    
}
.picture{
    padding: 50px;
    background: red;
    margin-bottom: 40px;
}
.image-text{

}

